* body {
    background: #eee;
}

.spacing-10px {
    display: block;
    padding: 0px 10px;
    width: 100%;
}

.principal {
    background-color: #fff;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    display: block;
    padding: 10px;
    height: fit-content;
    min-width: 250px;
    max-width: 300px;
    margin: 10px auto;
}

input.t_documento {
    border-radius: 0px 5px 5px 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none
}

p.compact{
    font-size: 0.6em;
    line-height: 1;
    margin: 0px 5px;
}

.popup .bg-blur {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    display: block;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) scale(1);
    background-color: #fff;
    box-shadow: 0px 2px 15px rgb(0, 0, 0, 0.9);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    top: 0px;
    z-index: 2;
    width: fit-content;
}

.popup .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.popup.inactive .bg-blur {
    display: none;
}

.popup.inactive content {
    transform: translate(-50%, -50%) scale(0);
}
